
<html lang="en">
<head>
    <title>
        <%= Name%>
    </title>
    <script src="https://kit.fontawesome.com/a1697b4935.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="\css\home.css">

</head>
<body>
    <h1 id="page-heading"><i class="fas fa-address-book"></i> My Contact List</h1>
    <div id="contact-list">
   <ul >
   <% for(let i of contact_list){ %> 
    <li class="list">
        <div class="details">
        <p ><%=i.name%></p>
        <p ><%=i.phone%></p>
    </div>
    <div class="delete-button">
        <a href="/delete-contact/?id=<%=i._id%>">
            <i class=" fas fa-window-close"></i>
        </a>
    </div>
    </li>
    
    <% } %>
   </ul>
</div>
<div id="form-div">
   <form id="form" action="/create-contact" method="post">
    <input id="namef" type="text" name="name" placeholder="Enter Name" required>
    <input type="number" name="phone" placeholder="Enter Phone No." required>
    <button type="submit">Add</button>
   </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="text/javascript" src="\js\home.js"></script>
</body>
</html>